@model Shop.Net.Web.Models.Cart.CartViewModel

@{
    ViewBag.Title = "Cart";
}


<div class="form-horizontal">
    <h2>@ViewBag.Title</h2>
    <hr />
</div>

<div class="row">
    @Html.Partial("_OrderItems", Model.CartItems)
</div>

<div class="form-group">
    <div class="col-md-offset-5 col-md-5">
        @Ajax.ActionLink(@"Clear cart", "ClearCart", "Cart",
                new { area = string.Empty, id = Model.Id },
                new AjaxOptions
                    {
                        HttpMethod = "Get",
                        Confirm = "Are you sure you want to delete the content of the entire cart?",
                        UpdateTargetId = ("cart-form"),
                        OnSuccess = "updateCartItemCount",
                    }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Checkout", "Checkout", "Cart", new { area = string.Empty }, new { @class = "btn btn-success" });
    </div>
</div>
