@using Kendo.Mvc.UI
@using Shop.Net.Web.Areas.Profile.Models
@{
    ViewBag.Title = "My orders";
}

<div class="row">
    <h1>@ViewBag.Title</h1>
</div>
<div class="row">
    @(Html.Kendo().Grid<OrderCustomerViewModel>().Name("orders-grid").Columns(columns =>
          {
              columns.Bound(c => c.Id);
              columns.Bound(c => c.TotalAmmout);
              columns.Bound(c => c.OrderStatus);
              columns.Bound(c => c.ItemsCount).Sortable(false).Filterable(false).Groupable(false);
              columns.Bound(c => c.CreatedOnUtc).Format("{0:MM/dd/yyyy HH:MM:ss}");
          })
          .Groupable()
          .Resizable(resize => resize.Columns(true))
          .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
          .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
          .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(10))
              .DataSource(dataSource => dataSource.Ajax()
                  .Read(read => read.Action("GetMyOrders", "Orders"))))
</div>