@model Shop.Net.Web.Areas.Catalog.Models.Category.CategoryViewModel

@{
    ViewBag.Title = Model.Name;

    <div class="jumbotron">
        <h2>@Model.Name - @Model.MetaTitle</h2>
        <p class="lead text-justify">@Model.MetaDescription</p>
    </div>
    <div class="row">
        <h3 class="col-lg-12 text-center">There are no products in this Category!</h3>
    </div>
}