@model Shop.Net.Web.Areas.Catalog.Models.Product.ProductDetailsViewModel

<div class="image-gallery col-lg-1">
   @Html.DisplayFor(model => model.Images)
</div>
<div class="col-lg-4">
    <div id="selected-image-container" class="zoom" data-image="">
        <img id="selected-image" />
        <div id="preview-zoom"></div>
    </div>
    <div id="container-zoom">
        <div id="window-zoom" style="display:none;"></div>
    </div>
</div>