@using Shop.Net.Web.Infrastructure.Helpers
@model Shop.Net.Web.Areas.Catalog.Models.Product.ProductDetailsModel

@section MetaInformation {
    @Html.Partial("_SeoPartial", Model);
}

<div id="product-wrapper">
    <div class="row">
        <div id="selected-image" class="col-lg-5">
            @{
                var firstImage = Model.Images.FirstOrDefault();
            }
            @Html.Image(firstImage.Url, firstImage.AltText);
        </div>
    </div>
</div>