@model ICollection<Shop.Net.Web.ViewModels.Product.ProductThumbnailModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shop.Net</h1>
    <p class="lead">Welcome to our shop!</p>
</div>

<div class="row" id="thumbnails">
    @foreach (var product in Model)
    {
        @Html.Partial("_ThumbnailPartial", product);
    }
</div>