@model ICollection<Shop.Net.Web.ViewModels.Product.ProductThumbnailModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shop.Net</h1>
    <p class="lead">Welcome to our shop!</p>
</div>

<div class="row" id="thumbnails">
    @for (var i = 0; i < Model.Count(); i++)
    {
        var product = Model.ElementAt(i);
        <div class="col-md-4 item">
            <h3 class="text-center text-info">@product.Name</h3>
            <div><img src="@product.Image.Url" class="img-rounded" alt="@product.Image.AltText" /></div>
            <p class="text-center">
                <a class="btn btn-default" href="">Price @string.Format("{0:C0}", product.Price)</a>
            </p>
        </div>
    }
</div>