<div class="alert alert-dismissable alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p>You can review only products you have bought! Another reason for not being able to review this product is if, the shop admin has disabled reviews for this item.</p>
</div>