@using Kendo.Mvc.UI
@using Shop.Net.Web.Areas.BackOffice.Models
@{
    ViewBag.Title = "Orders";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">You can manage your Orders from this panel!</p>
</div>
<div class="row">
    @(Html.Kendo().Grid<OrderEmployeeViewModel>().Name("orders-grid").Columns(columns =>
          {
              columns.Bound(c => c.Id);
              columns.Bound(c => c.TotalAmmout);
              columns.Bound(c => c.OrderStatus);
              columns.Bound(c => c.ItemsCount);
              columns.Bound(c => c.CreatedOnUtc).Format("{0:MM/dd/yyyy HH:MM:ss}");
          }).Scrollable().Groupable().Resizable(resize => resize.Columns(true))
          .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
          .Filterable(ftb => ftb.Mode(GridFilterMode.Row)).Pageable(pageable => pageable.Refresh(true)
              .PageSizes(true).ButtonCount(10))
              .DataSource(dataSource => dataSource.Ajax()
                  .Read(read => read.Action("GetOrders", "Orders"))))
</div>