@model Shop.Net.Web.Areas.BackOffice.Models.ProductEditModel

@{
    ViewBag.Title = "Delete Product";
}
<h3>Are you sure you want to delete this product?</h3>
<div>
    @Html.DisplayFor(x => x)
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
