@model Shop.Net.Web.ViewModels.Product.ProductDetailsModel

@{
}

<div id="product-wrapper">
    <div class="row">
        <div id="selected-image" class="col-lg-5">
            <a im></a>
        </div>
    </div>
</div>