@model Shop.Net.Web.ViewModels.Product.ProductDetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              
        </div>
    </body>
</html>